/**
 * Eth2 Beacon Node API
 * API specification for the beacon node, which enables users to query and participate in Ethereum 2.0 phase 0 beacon chain.
 *
 * OpenAPI spec version: v0.12.2
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package org.web3j.eth2.client.apis

import org.web3j.eth2.client.infrastructure.ApiClient
import org.web3j.eth2.client.infrastructure.ClientError
import org.web3j.eth2.client.infrastructure.ClientException
import org.web3j.eth2.client.infrastructure.RequestConfig
import org.web3j.eth2.client.infrastructure.RequestMethod
import org.web3j.eth2.client.infrastructure.ResponseType
import org.web3j.eth2.client.infrastructure.ServerError
import org.web3j.eth2.client.infrastructure.ServerException
import org.web3j.eth2.client.infrastructure.Success
import org.web3j.eth2.client.models.GetDepositContractResponse
import org.web3j.eth2.client.models.GetForkScheduleResponse
import org.web3j.eth2.client.models.GetSpecResponse

class ConfigApi(basePath: kotlin.String = "{server_url}") : ApiClient(basePath) {

    /**
     * Get deposit contract address.
     * Retrieve deposit contract address and genesis fork version.
     * @return GetDepositContractResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun getDepositContract(): GetDepositContractResponse {

        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/eth/v1/config/deposit_contract"
        )
        val response = request<GetDepositContractResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as GetDepositContractResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String
                    ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message
                    ?: "Server error")
        }
    }

    /**
     * Get scheduled upcoming forks.
     * Retrieve all scheduled upcoming forks this node is aware of.
     * @return GetForkScheduleResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun getForkSchedule(): GetForkScheduleResponse {

        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/eth/v1/config/fork_schedule"
        )
        val response = request<GetForkScheduleResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as GetForkScheduleResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String
                    ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message
                    ?: "Server error")
        }
    }

    /**
     * Get spec params.
     * Retrieve specification configuration used on this node. [Specification params list](https://github.com/ethereum/eth2.0-specs/blob/v1.0.0-rc.0/configs/mainnet/phase0.yaml)  Values are returned with following format:   - any value starting with 0x in the spec is returned as a hex string   - numeric values are returned as a quoted integer
     * @return GetSpecResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun getSpec(): GetSpecResponse {

        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/eth/v1/config/spec"
        )
        val response = request<GetSpecResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as GetSpecResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String
                    ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message
                    ?: "Server error")
        }
    }
}
